<%- include('bootheader') -%>
<%- include('menubar') -%>
<br><br><br>
    <div class="jumbotron">
        <h1>ContactUs Database</h1>
    </div>
    <ol>
    <% for(i = 0; i<Comments.length; i++){  %>
        <li> <a href="/showComment/<%= Comments[i]._id %>">
              <%= Comments[i].Name %></a>
              <i>
             <%= Comments[i].Email %>
              <%= Comments[i].Subject %>
               <%= Comments[i].Details %>
             </\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
