<%- include('bootheader') -%>
 <%- include('menubar') -%>
     <div class="jumbotron">
         <h1>Game Randomizer Profile</h1>
         <p> Welcome <%= user.googlename %>
             with email <%= user.googleemail %>
             You are logged in to Game Randomizer.
         </p>

      </div>

  <%- include('bootfooter') -%>
